planning_pipelines:
  pipeline_names:
    - ompl
  default_planning_pipeline: ompl

ompl:
  planning_plugin: ompl_interface/OMPLPlanner
  planning_plugins:
    - ompl_interface/OMPLPlanner
  request_adapters:
    - default_planning_request_adapters/ResolveConstraintFrames
    - default_planning_request_adapters/ValidateWorkspaceBounds
    - default_planning_request_adapters/CheckStartStateBounds
    - default_planning_request_adapters/CheckStartStateCollision
  response_adapters:
    - default_planning_response_adapters/AddTimeOptimalParameterization
    - default_planning_response_adapters/ValidateSolution
    - default_planning_response_adapters/DisplayMotionPath
  start_state_max_bounds_error: 0.1
  planner_configs:
    RRTConnect:
      type: geometric::RRTConnect
      range: 0.0
  arm:
    planner_configs:
      - RRTConnect
