services:
  ros2-vnc:
    platform: linux/arm64
    build: .
    container_name: ros2_vnc_container
    restart: unless-stopped
    stdin_open: true
    tty: true

    environment:
      - DISPLAY=:0
      - LIBGL_ALWAYS_SOFTWARE=1
      - QT_X11_NO_MITSHM=1
      - XDG_RUNTIME_DIR=/tmp/runtime-root
      - ROS2_WS=/root/ros2_ws
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp

    ports:
      - "8080:8080"

    shm_size: "512m"
    security_opt:
      - seccomp:unconfined

    volumes:
      - ./ros2_ws:/root/ros2_ws:rw

    networks:
      - rosnet

  micro-ros-agent:
    image: microros/micro-ros-agent:jazzy
    platform: linux/arm64
    container_name: micro_ros_agent
    restart: unless-stopped

    environment:
      - ROS_DOMAIN_ID=0
      - ROS_DISTRO=jazzy
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp

    # Usa el entrypoint por defecto de la imagen (micro-ros-agent) y pasa los argumentos directamente.
    command: ["udp4", "--port", "8888", "-v6"]

    ports:
      - "8888:8888/udp"

    networks:
      - rosnet

networks:
  rosnet:
    driver: bridge
